.vs/
.idea/
bin.*/
CppProperties.json
build/
.git.old/

common.mak
system.mak

*.log
*.vcxproj.Filters
*.vcxproj.user
CMakeSettings.json
*.bck

copyToBin.bat

updateBin.bat
TODO.txt

tests/.ssh/
tests/.ssl/
tests/stuff/
tests/testDirectory/